.p_test
{
color: blue;
font-size: 30px;
opacity: 0.5;
text-align: center;
position: relative;bottom: -6ex;
}
.body
{
background: url(new.png); 
background-position: top;
background-size: cover;  
background-repeat: no-repeat;
}
.login
{

    font-size: 16;
    width: 320px;
    height: 420px;
    background-color : white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 20px 30px;
}
 h1
 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .login p
 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    margin-bottom: 10px;

 }

 .login input
 {
    width: 80%;
    height: 40px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 14px;
    
 }
 .login input[value="Login"]
 {
    font-size: 22px;
 }

 #register_a
 {
   font-size: 22px;
   color: blueviolet;
   margin-bottom: 10px;
 }