body{
    background: url(main.jpg);
    background-position: top;
    background-size: cover;
  }
  
  
  
  
  
  
  h1{text-align: center;
  color: white;}
  .groupone{
    font-size: 20px;
    height: 55px;
    width: 55px;
    margin-left: 200px;
    color: white;
  }
  .grouptwo{
    font-size: 20px;
    height: 55px;
    width: 55px;
    margin-left: 200px;
    color: white;
  }
  .groupthree{
    font-size: 20px;
    height: 55px;
    width: 55px;
    margin-left: 200px;
    color: white;
  
  }
  
  
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
 